<h1>CP Memo</h1>

<a href="/memos/add">Create New Memo</a>

<table>
    <tr>
        <th>Problem Name</th>
        <th>Memo</th>
        <th></th>
    </tr>
    <% @data.each do |obj| %>
    <tr>
        <td><a href="<%= obj.url %>"><%= obj.name %></a></td>
        <td><%= obj.memo %></td>
        <td><a href="/memos/<%= obj.id %>">show</a></td>
        <td><a href="/memos/delete/<%= obj.id %>">delete</a></td>
    </tr>
    <% end %>
</table>
